@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 4px;
}

.main-container {
  width: 100%;
}
p {
  font-size: 14px;
}
a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
}
.header {
  position: relative;
  transition: all 0.5s;
}

.sticky.top {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: #262628;
}

.top .header-nav {
  padding: 5px 12px;
}
.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0.01px;
  align-self: flex-start;
  z-index: 3;
  left: 0;
  width: 100%;
}
.logo {
  display: flex;
  border: 2px solid #fff;
}

.logo a {
  display: inherit;
}

.logo p:nth-child(1) {
  color: #4a4c55;
  font-weight: 800;
  background: #fff;
  font-size: 35px;
  padding-right: 2px;
}

.logo p:nth-child(2) {
  color: #fff;
  padding-left: 2px;
  font-weight: 600;
  background-color: #4a4c55;
  font-size: 35px;
}

.hamburger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 20px;
  transform: translate(-2%, -2%);
  padding: 7px;
  z-index: 501;
  border-radius: 4px;
  background-color: #3d3d40;
}
.hamburger.change {
  background: #171815;
}

/*hidden nav bar start */

.line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
  display: block;
  transition: all 0.5s;
}

#line-1 {
  transform: translateY(0px);
  transition: all 0.5s;
}

#line-3 {
  transform: translateY(0px);
  transition: all 0.5s;
}

.change .line {
  background: #fff;
  transition: all 0.5s;
}
.change #line-1 {
  transform: translateY(8px) rotateZ(-45deg);
  transition: all 0.5s;
}

.change #line-2 {
  transition: all 0.5s;
  opacity: 0;
}
.change #line-3 {
  transform: translateY(-8px) rotateZ(45deg);
  transition: all 0.5s;
}

/*hidden nav bar end */

/*script animation full page start*/
.history-content,
.section-content,
.services-content,
.case-study,
.recent-content,
.list-items-container,
.pricing-section-container,
.our-team-container,
.our-blog-container,
.integration-container,
.keep-in-touch-container,
.subscribe-container-content {
  opacity: 0;
}

/*home slide infinite animation start*/
.slider_container {
  position: relative;
}

.slides {
  position: relative;
  width: 100%;
}
.inright {
  -webkit-animation: goInL 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  animation: goInL 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  position: relative;
  opacity: 1 !important;
}

@-webkit-keyframes goInL {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes goInL {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.outright {
  -webkit-animation: goOutL 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  animation: goOutL 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  position: relative;
}

@-webkit-keyframes goOutL {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes goOutL {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.inleft {
  -webkit-animation: goInR 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  animation: goInR 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  position: relative;

  opacity: 1 !important;
}

@-webkit-keyframes goInR {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes goInR {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.outleft {
  -webkit-animation: goOutR 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  animation: goOutR 0.5s cubic-bezier(0, 0, 0.46, 0.71);
  position: relative;
}

@-webkit-keyframes goOutR {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes goOutR {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.img {
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
/* .img:first-child {
  z-index: 100;
} */

/*home slide infite animation end */

/* home slide animation start */
.home-slide-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 740px;
  transition: all 1s ease-in;
  left: 0;
}

.home-slide-content ul li:nth-child(1) {
  transform: translateX(0);
}

.animi-from {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  opacity: 0;
}
.forOpacity {
  opacity: 1;
}

.slide-left-first {
  left: -150%;
}

.slide-left-second {
  left: 0;
}

.home-slide-content ul {
  list-style: none;
}

@keyframes from-top {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.from-top {
  animation: from-top 1.2s ease-in-out 0s;
  -webkit-animation: from-top 1.2s ease-in-out 0s;
  opacity: 1 !important;
}
/*end*/

.header-nav {
  display: flex;
  justify-content: space-between;
  background: transparent;
  flex-wrap: nowrap;
  align-items: center;
  padding: 25px;
  max-width: 80%;
  margin: 0 auto;
  transition: all 0.2s;
}

.nav-links-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s;
}

.nav-links-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 0px 20px 0;
  padding: 5px;
  border-radius: 2px;
  transform: scale3d(1, 1, 1);
  display: inline-block;
  position: relative;
  transition: all 0.5s;
  font-weight: 500;
}

.nav-link-ltr.active {
  color: #e74d3c;
}
.nav-link-ltr.active:before {
  content: "";
  position: absolute;
  background-color: #e74d3c;
  width: 80%;
  height: 1px;
  left: 10%;
}

.nav-links-menu a:active {
  transition: all 0.5s;
}

.nav-links-menu a:hover,
.active {
  color: #e74d3c;
  transition: all 0.5s;
}
.nav-links-menu a::before {
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #e74d3c;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: -10px;
}

.nav-link-ltr:hover::before {
  width: 80%;
  left: 10%;
}

.clip-path-header {
  clip-path: polygon(100% 0, 100% 89%, 50% 102%, 0 89%, 0 0);
}

.home {
  background: url(../images/homebg.webp) no-repeat center center;
  background-size: cover;
}
.wrap {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: relative;
}

.home-main {
  padding-top: 200px;
  padding-bottom: 230px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.home-main-before {
  background: #716b65;
  position: absolute;
  left: 2%;
  top: 38%;
  cursor: pointer;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 3px;
  z-index: 1;
}

.home-main-after {
  background: #716b65;
  position: absolute;
  right: 2%;
  top: 38%;
  cursor: pointer;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 3px;
}

.home-main-after:hover {
  background: #e74c3c;
}
.home-main-after:hover a {
  color: #fff !important;
}

.home-main-before:hover {
  background: #e74c3c;
}
.home-main-before:hover a {
  color: #fff !important;
}

.arrow-active {
  background: #e74c3c;
}

.arrow-active a {
  color: #fff !important;
}

.home-main-before:active a,
.home-main-after:active a {
  color: #e74c3c;
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 0.5s;
}
.home-main-before:active,
.home-main-after:active {
  transform: scale3d(0.95, 0.95, 0.95);
  background-color: #fff;
  transition: all 0.5s;
}

.home-main-before a {
  color: #443d38;
  font-size: 25px;
  padding: 10px;
  font-weight: 800;
  outline: 0;
  transition: all 0.5s;
}

.home-main-after a {
  color: #443d38;
  font-size: 25px;
  padding: 10px;
  font-weight: 800;
  outline: 0;
  transition: all 0.5s;
}

.home-main p,
.home-main h2 {
  color: #fff;
}

span.home-paragraph {
  font-size: 1.5rem;
  color: #f4f5f9;
}
.home-main h2 {
  word-spacing: 4px;
  margin-top: 14px;
  color: #f4f5f9;
  font-size: 72px;
  font-weight: 600;
}

.small-circle {
  width: 10px;
  height: 10px;
  background: #e74c3c;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
}

.small-circle::before,
.small-circle::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 80px;
  background: #f1ebe7;
  display: inline-block;
  bottom: 4px;
}

.small-circle::before {
  right: 5%;
  margin-right: 20px;
}

.small-circle::after {
  left: 5%;
  margin-left: 20px;
}

.home-main p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  color: rgb(203, 198, 192);
}
.home-main p:nth-child(1) {
  font-size: 1.2rem;
  margin-top: 0;
}

.home-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 65px;
}

.get-started-btn,
.learn-more-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 4%;
  display: inline-block;
  margin-top: 30px;
  border-radius: 3px;
}
.get-started-btn-top,
.learn-more-btn-top {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 4%;
  display: inline-block;
  margin-top: 30px;
  border-radius: 3px;
}
.get-started-btn {
  background: #e74c3c;
  transition: all 0.5s;
  border: 2px solid #e74c3c;
  outline: 0;
}
.get-started-btn-top {
  background: #be2e20;
  transition: all 0.5s;
  border: 2px solid #be2e20;
  font-weight: 500;
}

a.get-started-btn-top:hover {
  background: #3c3535;
  transition: all 0.5s;
  border: 2px solid #3c3535;
}
a.get-started-btn:hover {
  background: #3c3535;
  transition: all 0.5s;
  border: 2px solid #3c3535;
}
a.get-started-btn-top:active {
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 0.5s;
}
a.get-started-btn:active {
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 0.5s;
}
.learn-more-btn {
  height: auto;
  color: white;
  background: transparent;
  border: 2px solid white;
  margin-left: 50px;
  transition: all 0.5s;
}
.learn-more-btn-top {
  height: auto;
  color: white;
  background: transparent;
  border: 2px solid white;
  margin-left: 50px;
  transition: all 0.5s;
}
a.learn-more-btn-top:active {
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 0.5s;
}
a.learn-more-btn:active {
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 0.5s;
}
a.learn-more-btn-top:hover {
  background: rgb(60 53 53);
  transition: all 0.5s;
  border: 2px solid rgb(60 53 53);
}
a.learn-more-btn:hover {
  background: rgb(60 53 53);
  transition: all 0.5s;
  border: 2px solid rgb(60 53 53);
}
.arrow-icon p {
  color: white;
  width: 30px;
  height: auto;
  padding: 5px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  margin: 0 auto;
}

.arrow-icon a i:hover {
  color: #fff;
  transition: all 0.5s;
}

.arrow-icon:hover {
  background: rgb(61, 61, 64);
  transition: all 0.5s;
}

section#home-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.arrow-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #f4f5f9;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  top: -9%;
  left: 47.95%;
  outline: 5px solid #ffffff52;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.arrow-icon a i {
  color: rgb(231, 76, 60);
  transition: all 0.5s ease 0s;
}
.arrow-icon-link {
  cursor: pointer;
}
.second-section {
  width: 100%;
  height: auto;
  background: #fff;
  text-align: center;
  padding: 100px 0;
  position: relative;
  border-bottom: 1px solid #0000001a;
}
.second-section-main {
  max-width: 80%;
  height: auto;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin: 0px auto;
  text-align: center;
  padding: 0px 10px;
  gap: 50px;
}

.single_feature:hover .single_feature_icon {
  border-color: #e74c3c;

  transform: rotate(45deg);
  transition: all 0.5s;
}

.single_feature:hover .sf-h3 {
  color: #e74c3c;
  transition: all 0.5s;
}
.single_feature .single_feature_icon {
  border: 1px solid #ddd;
  width: 70px;
  height: 70px;
  margin: 20px auto;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single_feature_icon i {
  transform: rotate(0);
  transition: all 0.5s;
}

.single_feature:hover .single_feature_icon i {
  color: #e74c3c;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.second-section-main h2 {
  margin-top: 20px;
  color: #6a6a6a;
  font-size: 18px;
}

.small-line {
  height: 2px;
  width: 40px;
  margin: 10px auto;
  background: #888888;
}

.second-section-main p {
  margin-top: 20px;
  color: #837373;
}

.history {
  width: 100%;
  background: #fff;
}

.int-top {
  margin-top: 30px;
}

.history-content {
  max-width: 80%;
  background: rgb(255, 255, 255);
  display: grid;
  margin: 0px auto;
  gap: 4%;
  padding: 100px 10px;
  grid-template-columns: auto auto;
}

.history-content img {
  max-width: 100%;
  height: auto;
}

.history-content h2 {
  color: #6a6a6a;
  padding-left: 40px;
  position: relative;
  font-size: 2rem;
}

.history h2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background: #e74c3c;
  top: 0;
  left: 0;
}

.history-content p {
  color: #999999;
  margin-top: 30px;
}

.history-content a {
  margin-top: 30px;
}

.services {
  max-width: 100%;
}
.services-content {
  display: flex;
  text-align: right;
  background: #202020;
  overflow: hidden;
  height: 666px;
}

.services-scroll-slide {
  transform: translateY(0);
}

.services-scroll-content ul {
  list-style: none;
}
.services-scroll-slide-second {
  transform: translateY(-100%);
}

.services-scroll-slide-third {
  transform: translateY(-200%);
}

.services-content-scroll {
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 10%;
}
.services-content-scroll-btn {
  width: 3px;
  height: 50px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background: #2f2f2f;
  cursor: pointer;
}

.scroll-btn-active-new {
  background: #e74c3c;
}

.services-content-image {
  background: url(../images/IPAD.webp);
  background-size: cover;
  width: 70%;
}

.services-content-items {
  display: flex;
  flex-direction: column;
  background: #202020;
  padding: 100px 0px;
  padding-left: 80px;
  padding-right: 100px;
  position: relative;
  flex: 110%;
  transition: all 1s;
}

.services-content-items span {
  right: -3.5%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(244, 245, 249);
  padding-top: 3px;
  outline: rgba(255, 255, 255, 0.125) solid 4px;
  transform: translate(14%, 0%);
}

.services-content-items i {
  color: #e74c3c;
  font-size: 1.4rem;
}

.services-content-items-after-first {
  position: absolute;
  top: 30%;
}

.services-content-items-after-second {
  position: absolute;
  top: 50%;
}

.services-content-items-after-third {
  position: absolute;
  top: 70%;
}
.services-content-items h2 {
  color: #fff;
  position: relative;
  padding-right: 30px;
}

.services-content-items h2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background: #e74c3c;
  top: 0;
  right: 0;
}

.services-content-items h3 {
  margin-top: 40px;
  color: rgb(231, 76, 60);
  font-weight: 500;
}
.services-content-items p {
  margin-top: 20px;
  color: rgb(153, 153, 153);
  font-size: 0.8rem;
}
.recent {
  width: 100%;
  background: #fff;
  padding: 100px 0 0;
}

.recent-content {
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

.recent-content h2 {
  color: #6a6a6a;
}

.recent-content p {
  color: #999999;
  margin-top: 29px;
}

.small-circle-second {
  width: 10px;
  height: 10px;
  background: rgb(231, 76, 60);
  position: relative;
  border-radius: 50%;
  display: inline-block;
  margin-top: 27px;
}

.small-circle-second::before,
.small-circle-second::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 80px;
  background: #999999;
  display: inline-block;
  bottom: 4px;
}

.small-circle-second::before {
  right: 5%;
  margin-right: 20px;
}

.small-circle-second::after {
  left: 5%;
  margin-left: 20px;
}

.recent-content-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  align-items: baseline;
}

.recent-content-links button {
  margin: 10px;
  border: none;
  outline: none;
  padding: 10px 10px;
  color: #999999;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  transform: scale3d(1, 1, 1);
  transition: all 0.5s;
  background: #fff;
  font-weight: 600;
}
.recent-content-links button:hover,
.recent-content-links .active2 {
  color: #e85849;
}

.recent-content-links p {
  color: #a49993;
  margin-right: 15px;
  margin-bottom: 10px;
}

.recent-content-images {
  margin-top: 20px;
}
.flex-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-first > div {
  max-width: 100%;
  height: auto;
  position: relative;
  transition: all 1s;
}
.flex-second > div {
  max-width: 100%;
  height: auto;
  position: relative;
  transition: all 1s;
}
.recent-content-overlay {
  background: red;
  display: flex;
  flex-direction: column;
  opacity: 0;
  justify-content: flex-end;
  text-align: left;
  padding: 21px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 98.8%;
  transform: scale(0.85);
  transition: all 1s ease 0s;
}
.small-line-image {
  height: 3px;
  width: 40px;
  margin: 15px 0px;
  background: #fff;
}
.recent-content-overlay:hover {
  opacity: 0.6;
  transform: scale(1);
  transition: all 1s;
}

.recent-content-overlay h2 {
  font-size: 1rem;
  color: #fff;
}
.recent-content-overlay p {
  color: #fff;
  margin-top: 10px;
}
.flex-second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-content-images img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.recent-content-images img:hover {
  transform: scale(1);
}
.case-study {
  width: 100%;
  padding: 100px;
  background: #f4f5f9;
}

.case-study-content {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

/*case study scroll animation start*/
.case-study-scroll-content {
  position: relative;
  height: 388px;
  transition: all 0.5s;
  left: 0%;
}

.case-study-scroll-content ul {
  list-style: none;
}

.case-study-top-content {
  position: absolute;
  top: 0;
  transform: translateX(0);
}

.case-study-scroll-content ul li:nth-child(1) {
  transform: translateX(0%);
}
.case-study-scroll-content ul li:nth-child(2) {
  transform: translateX(150%);
}
.case-study-scroll-content ul li:nth-child(3) {
  transform: translateX(300%);
}
.case-study-scroll-content ul li:nth-child(4) {
  transform: translateX(450%);
}
.case-study-scroll-content ul li:nth-child(5) {
  transform: translateX(600%);
}
.case-study-scroll-content ul li:nth-child(6) {
  transform: translateX(750%);
}
.case-study-scroll-content ul li:nth-child(7) {
  transform: translateX(900%);
}
.case-study-scroll-content ul li:nth-child(8) {
  transform: translateX(1050%);
}

/*case study scroll animation end*/

.case-study-heading h2 {
  color: #6a6a6a;
}

.case-study-content p {
  color: rgb(153, 153, 153);
  margin-top: 30px;
}

.case-study-flex {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 55px;
  position: relative;
}
.case-study-idea-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  top: 15%;
  width: 50%;
  z-index: 1;
  background: #fff;
  padding: 20px 70px;
  overflow: hidden;
}

.small-circle-read-more {
  width: 10px;
  height: 10px;
  background: #c9cacf;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale3d(1, 1, 1);
  margin-top: 40px;
  margin-right: 10px;
}

.small-circle-read-more:focus {
  transform: scale(0.95);
  transition: all 0.5s ease 0s;
}

button.small-circle-read-more.gray-circle-new {
  background: #e74c3c;
}

.case-study-icon {
  border: 1px solid #ddd;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 20px auto;
  transition: all 0.5s;
  display: inline-block;
}

.radio-active1 {
  position: relative;
  animation: radio-active1 5s ease-in 1s infinite;
  -webkit-animation: radio-active1 5s ease-in 1s infinite;
}

@keyframes radio-active1 {
  0% {
    transform: translateX(-150%);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150%);
  }
}

.radio-active2 {
  position: relative;
  animation: radio-active2 0.5s ease-in 2s;
  -webkit-animation: radio-active2 0.5s ease-in;
}

@keyframes radio-active2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.radio-active3 {
  position: relative;
  animation: radio-active3 0.5s ease-in 2s;
  -webkit-animation: radio-active3 0.5s ease-in;
}

@keyframes radio-active3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.case-study-idea-content:hover .case-study-icon {
  border-color: #e74c3c;
  transform: rotate(45deg);
  transition: all 0.5s;
  background: #e74c3c;
}

.case-study-idea-content:hover .case-study-icon i {
  transform: rotate(-45deg);
  color: #fff;
  transition: all 0.5s;
}
.case-study-icon i {
  transform: rotate(0);
  transition: all 0.5s;
}
.case-study-idea-content h2 {
  color: #6a6a6a;
  margin-top: 20px;
}
.get-started-btn-case-study {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 10px 7%;
  display: inline-block;
  background: rgb(231, 76, 60);
  margin: 45px auto 0px;
  border-radius: 3px;
}
.get-started-btn-case-study:hover {
  background: #3c3535;
  transition: all 0.5s;
}

.get-started-btn-case-study:active {
  transform: scale3d(0.95, 0.95, 0.95);
  transition: all 0.5s;
}

.case-study-image {
  position: relative;
  margin: 0 auto;
  left: 20%;
  width: 50%;
  flex: 0%;
}
.case-study-image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.list-items {
  width: 100%;
  background: url(../images/counterbg.webp);
  background-size: cover;
  padding: 100px 0;
}

.list-items-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.list-item-icon {
  width: 107px;
  height: 107px;
  border: 1px solid #f4f5f9;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fasu {
  font-weight: 900;
  color: white;
  line-height: 100px !important;
  font-size: 25px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.list-items-content h2 {
  color: #f4f5f9;
  margin-top: 35px;
  font-size: 30px;
  transition: all 0.1s ease-in;
}

.list-items-content h3 {
  color: #f4f5f9;
  margin-top: 2px;
  font-weight: 400;
}

.pricing {
  width: 100%;
  padding: 100px 0;
}
.pricing-section-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.pricing-top-content h2 {
  font-weight: 700;
  color: #6a6a6a;
  font-size: 2.5rem;
}
.pricing-top-content p {
  color: #999999;
  margin-top: 15px;
}

.pricing-section-first,
.pricing-section-second,
.pricing-section-third {
  width: 30%;
  border-radius: 5px;
  position: relative;
}
.monthly-plan {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 50%;
  background: #fff;
  outline: 7px solid #ffffff30;
  transform: translate(-50%, -50%);
}

.monthly-plan.monthly-plan-red h3 {
  color: #e74c3c;
  font-size: 1.7rem;
}
.monthly-plan.monthly-plan-red p {
  color: #e74c3c;
  font-size: 1rem;
  margin-top: 5px;
}
.monthly-plan h3 {
  color: #999999;
  font-size: 1.7rem;
}
.monthly-plan p {
  color: #999999;
  font-size: 1rem;
  margin-top: 5px;
}
.pricing-section-second {
  transform: scale(1);
}
.bg-gray {
  background: #999999;
  padding-top: 30px;
  padding-bottom: 80px;
}

.bg-red {
  background: #e74c3c;
  padding-top: 30px;
  padding-bottom: 80px;
}
.pricing-list {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 20px;
}
.pricing-list-p p {
  color: #999999;
  margin-top: 20px;
}
.pricing-list h2 {
  color: #fff;
  margin: 10px 0;
}

.pricing-list-p {
  padding-top: 75px;
  padding-bottom: 50px;
  background: #f4f5f9;
  padding-right: 30px;
  padding-left: 30px;
}
.get-started-btn-pricing {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8rem;
  padding: 10px 8%;
  display: inline-block;
  margin-top: 45px;
  border-radius: 3px;
  background: #e74c3c;
  transition: all 0.5s;
  border: 2px solid #e74c3c;
  outline: 0;
  font-weight: 500;
}
a.get-started-btn-pricing:hover {
  background: rgb(60, 53, 53);
  transition: all 0.5s ease 0s;
  border: 2px solid rgb(60, 53, 53);
}

.gsb-noactive {
  background: #999999;
  border: 2px solid #999999;
}

.our-team {
  width: 100%;
  background: url(../images/test-page-bg.webp);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.our-team-container:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -23%;
  content: "";
  background: url(../images/teambg2.webp) no-repeat bottom center;
}

.our-team-relative {
  position: relative;
  width: 80%;
  margin-left: 8%;
}

.our-team-top {
  width: 80%;
  text-align: center;
  margin: 100px auto;
}
.our-team-content {
  margin: 0 auto;
  padding-bottom: 195px;
}
.our-team-content h2 {
  color: #fff;
}
.our-team-content p {
  color: #f4f5f9;
  margin-top: 29px;
}
.team-image {
  margin: 150px 0;
}
.team-image ul {
  list-style: none;
  display: inline-block;
}

.team-image li {
  position: relative;
}

/*radius content start*/
.main_team ul li:nth-child(1) {
  width: 15%;
  display: inline-block;
  /* margin-left: 3%; */
  position: absolute;
  left: 10%;
  top: 62%;
}
.main_team ul li:nth-child(2) {
  width: 15%;
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 52%;
}
.main_team ul li:nth-child(3) {
  width: 15%;
  display: inline-block;
  /* margin-left: 3%; */
  position: absolute;
  left: 50%;
  top: 54%;
}

.main_team ul li:nth-child(4) {
  width: 15%;
  display: inline-block;
  position: absolute;
  left: 70%;
  top: 66%;
}
.main_team ul li:nth-child(5) {
  width: 15%;
  display: inline-block;
  position: absolute;
  left: 90%;
  top: 60%;
}

.single_team_text::before {
  content: "";
  width: 2px;
  height: 30px;
  background: rgb(255, 255, 255);
  top: -21%;
  left: 47%;
  position: absolute;
}
span.single-team-images {
  display: inline-block;
}

.main_team ul li .single_team_img img {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(231, 76, 60, 0.65);
  position: relative;
}
li .single_team_text {
  padding: 10px 20px;
  width: 100%;
  opacity: 0;
  transition: all 0.6s ease 0s;
  text-align: center;
  display: inline-block;
  height: 80px;
  margin-top: 5px;
  transform: translate(-24%, -1%);
}
li .single_team_text h3 {
  margin-bottom: 0rem;
  display: inline-block;
  text-transform: none;
  font-size: 1rem;
  color: rgb(231, 76, 60);
}
li .single_team_text p {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  margin-top: 5px;
}
li:hover .single_team_text {
  opacity: 1;
}
span.overlay-image {
  width: 75px;
  height: 75px;
  background: rgba(211, 37, 37, 0.68);
  display: inline-block;
  transform: translate(-96%, -17%);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

li:hover .overlay-image {
  opacity: 1;
  transition: all 0.5s;
}

li:hover .single_team_img img {
  transform: scale(1.2);
  transition: all 0.5s;
}
/*radius content end*/

.team-image ul li:nth-child(1) {
  width: 6%;
  position: absolute;
  left: 10%;
  top: 70%;
}
.team-image ul li:nth-child(2) {
  width: 6%;
  position: absolute;
  left: 30%;
  top: 64%;
}
.team-image ul li:nth-child(3) {
  width: 6%;
  position: absolute;
  left: 50%;
  top: 66%;
}
.team-image ul li:nth-child(4) {
  width: 6%;
  position: absolute;
  left: 70%;
  top: 76%;
}
.team-image ul li:nth-child(5) {
  width: 6%;
  position: absolute;
  left: 90%;
  top: 77%;
}
.team-image img {
  width: 100%;
  height: auto;
  border: 3px solid #e74c3c;
  border-radius: 50%;
}

.integration {
  width: 100%;
  padding: 100px 0px;
  background: rgb(244, 245, 249);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.integration-image img {
  filter: grayscale(1);
  transition: all 0.5s;
}

.integration-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.integration-top-content h2 {
  font-size: 36px;
  color: rgb(106, 106, 106);
}

.integration-top-content p {
  color: #999999;
}

.integration-image p {
  width: 211px;
  height: 101px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.int-flex-first {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}
.integration-image {
  margin-top: 70px;
}
.int-flex-first img {
  opacity: 0.3;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.image-active-1 {
  background: rgb(215 202 201) !important;
}

.image-active img {
  opacity: 1;
}
p.image-active:hover {
  background: rgb(231, 76, 60) !important;
  cursor: pointer;
}

p.image-active:hover img {
  filter: grayscale(0);
  transform: scale(1);
  transition: all 0.5s;
  opacity: 1;
}
.our-blog {
  width: 100%;
  background: #f4f5f9;
  padding: 100px 0 0;
}

.our-blog-container {
  width: 100%;
  color: #f4f5f9;
}

.our-blog-top-content {
  text-align: center;
  margin-bottom: 50px;
}
.our-blog-top-content h2 {
  font-size: 2.5rem;
  color: #6a6a6a;
}

.our-blog-top-content p {
  color: #999999;
  margin-top: 20px;
}

.blog-flex-content p {
  color: #f4f5f9;
  margin-top: 20px;
}

.blog-flex-content h3 {
  color: #f4f5f9;
  margin-top: 20px;
}
.blog-flex-content {
  background: #e74e3e;
  width: 300px;
  padding: 50px 30px;
  text-align: left;
  position: relative;
  flex: 25%;
  overflow: hidden;
  transition: all 0.4s;
}

.blog-flex-content.active {
  padding: 20px 30px;
  transition: all 0.4s;
}

.blog-flex-content.right::before {
  content: "";
  position: absolute;
  right: 99%;
  top: 44%;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid #e74e3e;
  border-bottom: 30px solid transparent;
}
.blog-flex-content.left::after {
  content: "";
  position: absolute;
  left: 99%;
  top: 44%;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 30px solid #e74e3e;
  border-bottom: 30px solid transparent;
}

.small-line-left {
  height: 2px;
  width: 40px;
  margin-top: 10px;
  background: #ffffff;
}

.row-one-read-more {
  display: none;
  opacity: 0;
  transition: all 0.4s;
}
.row-one-read-more.active {
  animation: slide-in-rm 0.4s linear;
  opacity: 1;
  display: block;
  position: relative;
}

@keyframes slide-in-rm {
  0% {
    top: -4%;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.blog-flex-content pre {
  margin-top: 20px;
}
.flextop-image {
  background: url(../images/blogone.webp);
  background-size: cover;
  width: 300px;
  flex: 25%;
}

.second {
  background: none;
  background: url(../images/blogtwo.webp);
  background-size: cover;
}
.third {
  background: none;
  background: url(../images/blogthree.webp);
  background-size: cover;
}
.fourth {
  background: none;
  background: url(../images/blogfour.webp);
  background-size: cover;
}

.box-flex-top {
  display: flex;
  justify-content: center;
  flex: 50%;
  height: 386px;
}

.box-flex-top a {
  text-transform: none;
  color: #f4f5f9;
  font-style: italic;
  font-weight: 400;
}

.row-one {
  display: flex;
  justify-content: center;
}

.keep-in-touch {
  width: 100%;
  padding: 100px 0px;
  background: #f4f5f9;
}

.keep-in-touch-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.keepInTouch-top-content h2 {
  font-size: 2.5rem;
  color: #6a6a6a;
}
.keepInTouch-top-content p {
  color: #999999;
  margin-top: 20px;
}

.keepInTouch-left-content p {
  color: #999999;
  text-align: left;
  margin-top: 10px;
}

.keepInTouch-left-content p a {
  color: #999999;
  text-align: left;
  text-transform: lowercase;
}

.keepInTouch-left-content h3 {
  color: rgb(231, 78, 62);
  text-align: left;
  margin-top: 10px;
}
.keepInTouch-right-content input::placeholder {
  padding-bottom: 50px;
}

.keepInTouch-flex {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 50px;
}
.keepInTouch-left-content {
  display: flex;
  flex-direction: column;
  gap: 20%;
  width: 35%;
  padding: 5%;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px;
}

.keepInTouch-right-content input {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.keepInTouch-right-content {
  width: 55%;
  padding: 5%;
  text-align: left;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px;
}
.get-started-btn-touch {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 10px 5%;
  display: inline-block;
  margin-top: 30px;
  font-size: 0.9rem;
  border-radius: 3px;
  background: rgb(231, 76, 60);
  transition: all 0.5s ease 0s;
  border: 2px solid rgb(231, 76, 60);
  outline: 0px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
}
.get-started-btn-touch:hover {
  background: rgb(60, 53, 53);
  transition: all 0.5s ease 0s;
  border: 2px solid rgb(60, 53, 53);
}
input.textarea-content {
  padding-bottom: 60px;
}

.subscribe {
  width: 100%;
  background: url(../images/lastbg.webp) no-repeat;
  background-size: cover;
  position: relative;
}

.wrap-last-above-footer {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

.subscribe-after {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #e74c3c;
  right: 4%;
  top: 94%;
  border-radius: 50%;
  color: #fff;
  line-height: 47px;
  text-align: center;
  font-size: 16px;
  border: none;
  display: inline-block;
  transform: scale(1);
  transition: all 0.5s;
}
.subscribe-after:hover {
  background: #fff;
  color: #e74c3c;
  transform: scale(1.1);
  transition: all 0.5s;
}
.wrap-last {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 1px 0px 2px;
}
.subscribe-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

span.subscribe-span {
  font-weight: 400;
}
.get-started-btn-footer {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 4%;
  display: inline-block;
  margin-top: 80px;
  border-radius: 3px;
  background: #e74c3c;
  transition: all 0.5s;
  border: 2px solid #e74c3c;
  outline: 0;
}
a.get-started-btn-footer:hover {
  background: #3c3535;
  transition: all 0.5s;
  border: 2px solid #3c3535;
}

.subscribe-content h2,
.subscribe-content p {
  color: #fff;
}

.subscribe-content h2 {
  font-size: 2.5rem;
}

.subscribe-content p {
  margin-top: 10px;
}

.footer-last {
  width: 100%;
  background: rgb(32, 32, 32);
  padding: 15px 0px;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}
.social-media-content ul {
  list-style: none;
  display: flex;
}

.social-media-content ul li a {
  text-decoration: none;
  color: #535353;
  font-size: 1.5rem;
  margin-right: 25px;
  transition: all 0.5s;
  display: inline-block;
}
.social-media-content ul li a:hover {
  color: #e74c3c;
  transform: scale3d(1.2, 1.2, 1.2);
  transition: all 0.5s;
}
.copyright p {
  color: #535353;
  margin-top: 5px;
}

.social-media-content {
  display: flex;
  justify-content: space-between;
}
.case-study-top-content h3 {
  color: #6a6a6a;
  font-size: 16px;
  margin-top: 15px;
}

/*media queries 768px start */

@media screen and (max-width: 768px) {
  .services-content-image {
    width: 0%;
  }
  .bg-color {
    background: #202020;
  }
  .top .header-nav {
    padding: 12px;
  }
  span.home-paragraph {
    font-size: 1rem;
    color: #f4f5f9;
  }

  .case-study-content p {
    padding: 0 50px;
  }

  .home-main h2 {
    font-size: 3rem;
  }
  .services-content-items span {
    display: none;
  }
  .get-started-btn-top,
  .learn-more-btn-top {
    font-size: 0.7rem;
  }
  .arrow-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 0;
    background: #f4f5f9;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    top: -3%;
    left: 45%;
    transition: all 0.5s;
  }
  .hamburger {
    display: block;
  }
  .nav-links-menu {
    display: none !important;
    opacity: 0;
    transition: all 0.5s;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-links-menu.nav-active {
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    animation: top-in 0.5s;
    opacity: 1;
  }

  @keyframes top-in {
    0% {
      height: 30vh;
      opacity: 0.1;
      transform: translateX(100%);
    }

    10% {
      height: 100vh;
    }
    60% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .home-main p {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-main {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .header-nav {
    flex-direction: column;
    gap: 10px;
  }

  img.int-last-image {
    display: inline-block;
    margin-left: -4%;
  }

  .nav-links-menu a {
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 30px;
  }
  .second-section-main {
    flex-direction: column;
    gap: 30px;
  }
  .history-content {
    flex-direction: column;
    max-width: 80%;
    background: rgb(255, 255, 255);
    display: grid;
    margin: 0px auto;
    gap: 4%;
    padding: 100px 0px;
    grid-template-columns: auto;
    text-align: center;
  }

  .second-section {
    padding: 50px 0;
  }
  .history-content h2 {
    font-size: 1.5rem;
  }
  .services-content-items {
    padding: 100px 20px;
    flex: auto;
  }
  .recent {
    padding: 50px 0 0;
  }
  .flex-first {
    display: flex;
    flex-direction: column;
  }

  .image-one {
    opacity: 1;
    display: block;
    transition: all 1s;
  }

  .flex-second {
    display: flex;
    flex-direction: column;
  }
  .recent-content-links a {
    margin-right: 5px;
    font-size: 0.7rem;
  }
  .recent-content-links button {
    margin: 0px;
    border: none;
    outline: none;
    padding: 4px;
    color: #999999;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s;
    background: #fff;
  }

  .recent-content-links p {
    margin: 0 5px;
    padding-bottom: 1px;
  }

  .integration {
    padding: 50px 0;
  }
  .our-blog {
    padding: 50px 0 0;
  }
  .keep-in-touch {
    padding: 50px 0;
  }
  .footer-last {
    padding: 15px 0;
  }
  .pricing {
    width: 100%;
    padding: 50px 0;
  }
  .list-items {
    width: 100%;
    background: url(../images/counterbg.webp);
    background-size: cover;
    padding: 50px 0;
  }
  .case-study-flex {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
  }

  .case-study-image {
    position: relative;
    margin: 0 auto;
    left: 0;
    max-width: 100%;
  }
  .case-study {
    width: 100%;
    padding: 50px 0;
    background: rgb(244, 245, 249);
  }

  .case-study-idea-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: static;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    background: rgb(255, 255, 255);
    padding: 0px;
    overflow: hidden;
    margin-top: 20px;
  }
  .list-items-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
  }

  .list-items-content {
    margin-bottom: 25px;
  }
  .pricing-list {
    flex-direction: column;
    gap: 30px;
  }
  .pricing-section-first,
  .pricing-section-second,
  .pricing-section-third {
    width: 100%;
  }
  .int-flex-first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-right: 0;
  }
  .integration-image {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .integration-image p {
    max-width: 100%;
    height: 110px;
  }
  .integration-image p:hover {
    background: rgb(231, 76, 60);
  }

  .int-flex-first img {
    padding: 0;
    opacity: 0.5;
  }
  .row-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }
  .box-flex-top {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .flextop-image {
    width: 100%;
  }
  .blog-flex-content {
    background: #e74e3e;
    padding: 20px 30px;
    text-align: left;
    width: auto;
    flex: 60%;
    height: 450px;
  }
  .blog-flex-content.active {
    padding: 10px 30px;
    transition: all 0.4s;
  }

  .keepInTouch-flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }
  .keepInTouch-left-content {
    display: flex;
    flex-direction: column;
    gap: 20%;
    width: 100%;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }
  .keepInTouch-right-content {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  }
  .social-media-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .social-media-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .copyright {
    margin: 0 auto;
    margin-top: 5px;
  }
  .copyright p {
    color: #fff;
    padding-right: 25px;
  }
  .social-media-content ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 20px;
    transition: all 0.5s;
    display: inline-block;
  }
  .subscribe-after {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #e74c3c;
    right: 4%;
    top: 96%;
    border-radius: 50%;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    border: none;
    display: inline-block;
    transform: scale(1);
    transition: all 0.5s;
  }
  /*start icon image*/

  .our-team-container:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -9%;
    content: "";
    background: url(../images/teambg2.webp);
    background-size: cover;
  }
  .main_team ul li:nth-child(1) {
    width: 15%;
    display: inline-block;
    margin-left: 3%;
    position: absolute;
    left: 0%;
    top: 94%;
  }
  .main_team ul li:nth-child(2) {
    width: 15%;
    display: inline-block;
    margin-left: 3%;
    position: absolute;
    left: 20%;
    top: 86%;
  }
  .main_team ul li:nth-child(3) {
    width: 15%;
    display: inline-block;
    margin-left: 3%;
    position: absolute;
    left: 40%;
    top: 79%;
  }
  .main_team ul li:nth-child(4) {
    width: 15%;
    display: inline-block;
    margin-left: 3%;
    position: absolute;
    left: 60%;
    top: 71%;
  }
  .main_team ul li:nth-child(5) {
    width: 15%;
    display: inline-block;
    margin-left: 3%;
    position: absolute;
    left: 80%;
    top: 66%;
  }

  li .single_team_text h3 {
    margin-bottom: 0rem;
    display: inline-block;
    text-transform: none;
    font-size: 0.7rem;
    color: rgb(231, 76, 60);
  }

  .single_team_text:before {
    content: "";
    width: 2px;
    height: 21px;
    background: #fff;
    top: -21%;
    left: 52%;
    position: absolute;
  }
  li .single_team_text h4 {
    margin-bottom: 0rem;
    display: inline-block;
    text-transform: none;
    font-size: 0.8rem;
    color: rgb(231, 76, 60);
  }
  li .single_team_text p {
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    margin-top: 0px;
  }
  li .single_team_text {
    padding: 0px;
    width: 100%;
    opacity: 0;
    transition: all 0.6s ease 0s;
    text-align: center;
    display: block;
    height: 80px;
    margin-top: 0px;
    transform: translate(-0%, -77%);
  }
  span.overlay-image {
    width: 60px;
    height: 60px;
    background: #d32525ad;
    display: inline-block;
    transform: translate(-0%, -134%);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
  }
  .main_team ul li .single_team_img img {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(231, 76, 60, 0.65);
  }
}

@media screen and (max-height: 550px) {
  .nav-links-menu a {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 5px;
  }
}
/*media queries 768px end*/

/*media queries min width 769 and max width 1024px*/
@media screen and (max-width: 450px) and (min-width: 313px) {
  .small-circle-read-more {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1254px) and (min-width: 769px) {
  .home-main h2 {
    font-size: 3.2rem;
  }
  .nav-links-menu a {
    font-size: 0.65rem;
    margin: 0px 10px 0;
    padding: 5px;
  }
  .case-study-idea-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: static;
    left: 0;
    top: 25%;
    width: 100%;
    z-index: 1;
    background: #fff;
    padding: 0;
    margin-top: 20px;
  }
  .case-study-flex {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: column;
  }
  .case-study-image {
    position: static;
    margin: 0 auto;
    left: 20%;
    width: 50%;
  }
  .case-study-image img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-top: 25px;
  }
  .row-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .box-flex-top {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .blog-flex-content {
    background: #e74e3e;
    width: 300px;
    padding: 20px 30px;
    text-align: left;
    position: relative;
    flex: none;
    height: 410px;
  }
  .blog-flex-content.active {
    padding: 10px 30px;
    transition: all 0.4s;
  }
  .flextop-image {
    width: 300px;
    flex: none;
  }
  .services-content-items span {
    right: -3.5%;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(244, 245, 249);
    padding-top: 3px;
    outline: rgba(255, 255, 255, 0.125) solid 4px;
    transform: translate(25%, 0%);
  }
}

/*media queries min width 769px and max-width 1024px*/
@media screen and (max-width: 768px) and (min-width: 480px) {
  .arrow-icon {
    left: 47%;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1250px) and (min-width: 769px) {
  .arrow-icon {
    left: 48.7%;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1059px) and (min-width: 769px) {
  .single_team_text:before {
    content: "";
    width: 2px;
    height: 30px;
    background: #fff;
    top: -22%;
    left: 50%;
    position: absolute;
  }

  li .single_team_text {
    padding: 10px 20px;
    width: 100%;
    opacity: 0;
    transition: all 0.6s ease 0s;
    text-align: center;
    display: inline-block;
    height: 80px;
    margin-top: 5px;
    transform: translate(-1%, -90%);
  }
  span.overlay-image {
    width: 63px;
    height: 63px;
    background: #d32525ad;
    display: inline-block;
    transform: translate(0%, -135%);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .main_team ul li:nth-child(1) {
    top: 81%;
  }
  .main_team ul li:nth-child(2) {
    top: 71%;
  }
  .main_team ul li:nth-child(3) {
    top: 62%;
  }
  .main_team ul li:nth-child(4) {
    top: 55%;
  }

  .main_team ul li:nth-child(5) {
    top: 50%;
  }
}

@media screen and (max-width: 599px) and (min-width: 300px) {
  .main_team ul li:nth-child(1) {
    top: 85%;
  }
  .main_team ul li:nth-child(2) {
    top: 77%;
  }

  .main_team ul li:nth-child(3) {
    top: 70%;
  }

  .main_team ul li:nth-child(4) {
    top: 64%;
  }

  .main_team ul li:nth-child(5) {
    top: 59%;
  }
}
@media screen and (max-width: 1159px) and (min-width: 1060px) {
  li .single_team_text {
    transform: translate(1%, -93%);
  }

  span.overlay-image {
    transform: translate(0%, -119%);
  }
}
@media screen and (max-width: 980px) and (min-width: 769px) {
  .services-content {
    display: flex;
    text-align: right;
    background: #202020;
    overflow: hidden;
    height: 730px;
  }
}

@media only screen and (max-width: 500px) {
  .services-content {
    display: flex;
    text-align: right;
    background: #202020;
    overflow: hidden;
    height: 700px;
  }
}
@media screen and (max-width: 768px) and (min-width: 580px) {
  .services-content {
    display: flex;
    text-align: right;
    background: #202020;
    overflow: hidden;
    height: 600px;
  }
}

/*form-validation start*/

.form-control {
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input:focus {
  outline: 0;
}

/* .form-control.success input {
  border-color: greenyellow;
} */

.form-control.error input {
  border-color: #d92e2e;
}

.form-control small {
  color: #d92e2e;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 1px solid #d92e2e;
  visibility: hidden;
  padding: 2px 10px;
  border-radius: 2px;
}
.form-control.error small {
  visibility: visible;
}

.form-control.success .small-sucess {
  visibility: visible;
  display: inline-block;
  bottom: -57%;
  font-size: 20px;
  padding: 5px 15px;
  background: #4bb543;
  color: white;
  border: none;
}

@media only screen and (max-width: 540px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);
  }
}
@media screen and (max-width: 770px) and (min-width: 540px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 94%, 50% 100%, 0 94%, 0 0);
  }
}
@media screen and (max-width: 1000px) and (min-width: 770px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 94%, 50% 100%, 0 94%, 0 0);
  }
}
@media screen and (max-width: 1250px) and (min-width: 1000px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
  }
}
@media screen and (max-width: 1500px) and (min-width: 1250px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  }
}
@media screen and (max-width: 1600px) and (min-width: 1500px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  }
}
@media screen and (max-width: 1700px) and (min-width: 1600px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 89%, 50% 102%, 0 89%, 0 0);
  }
}
@media screen and (max-width: 1800px) and (min-width: 1700px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 90%, 50% 104%, 0 90%, 0 0);
  }
}
@media screen and (max-width: 1900px) and (min-width: 1800px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 92%, 50% 107%, 0 93%, 0 0);
  }
}

@media screen and (max-width: 2000px) and (min-width: 1900px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 94%, 50% 112%, 0 94%, 0 0);
  }
}
@media screen and (min-width: 2000px) and (max-width: 2150px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 96%, 50% 111%, 0 96%, 0 0);
  }
}

@media screen and (min-width: 2150px) {
  .clip-path-header {
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  }
}

@media only screen and (max-width: 350px) {
  .clip-path-header {
    height: 950px;
  }
}

@media screen and (max-width: 550px) and (min-width: 350px) {
  .home-main {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .clip-path-header {
    height: 850px;
  }
}
@media only screen and (max-width: 1250px) and (min-width: 768px) {
  .home-main p {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.home-slide-content.slider_container {
  margin-bottom: 100px;
}

@media screen and (max-width: 410px) {
  span.overlay-image {
    width: 63px;
    height: 63px;
    transform: translate(-8%, -129%);
  }
}

@media screen and (min-width: 410px) and (max-width: 480px) {
  span.overlay-image {
    width: 63px;
    height: 63px;
    transform: translate(-8%, -129%);
  }
}

@media screen and (max-width: 600px) {
  .our-team-top {
    margin: 120px auto;
  }
}

.top-level {
  display: none;
}
